{% extends "base.html" %}
{% block title %}About - BryanPH.com{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block header%}
{{super()}}
{% endblock %}
{% block content %}
<main role="main" class="inner cover">
  <div class="container" style="padding-top:1rem;">
    <div class="row">
      <div class="col-xs-12">
        <img src="{{ url_for('static', filename='images/profile_pic.jpg')}}" alt="profile pic" class="img-thumbnail" width="50%">
      </div>
      <<div class="row">
        <div class="col-xs-12">
          <h2 class="display-4">Bryan Prather-Huff</h2>
          <div class="text-left jumbotron" style="background:rgba(0,0,0,0.40);padding-top:1rem;padding-bottom:1rem;margin-bottom:0;">
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id orci eros. Nunc eget nisi consequat lorem blandit lobortis sed vitae urna. Vivamus neque nunc, faucibus eget ultricies sagittis, tempor id erat. Aliquam est magna, mollis non eleifend eget, consectetur rutrum est. Nulla ut tellus accumsan, vulputate urna in, porttitor ex. Morbi nec arcu id eros interdum egestas. Nunc eu ex condimentum, gravida lectus at, auctor justo. Nunc lobortis sed lacus nec lacinia. Praesent interdum, massa sit amet viverra ullamcorper, mauris quam ultricies leo, at cursus erat nisi ut mauris. Maecenas pharetra, quam et rhoncus pellentesque, ligula metus ornare lorem, vel interdum tortor justo sit amet mauris. In hac habitasse platea dictumst. Nunc turpis mi, vulputate sed sem ut, vestibulum commodo orci. Donec euismod, neque in consequat auctor, sem massa cursus ante, in feugiat risus diam vel ante. Phasellus sed lacus ut augue porta vehicula. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id orci eros. Nunc eget nisi consequat lorem blandit lobortis sed vitae urna. Vivamus neque nunc, faucibus eget ultricies sagittis, tempor id erat. Aliquam est magna, mollis non eleifend eget, consectetur rutrum est. Nulla ut tellus accumsan, vulputate urna in, porttitor ex. Morbi nec arcu id eros interdum egestas. Nunc eu ex condimentum, gravida lectus at, auctor justo. Nunc lobortis sed lacus nec lacinia. Praesent interdum, massa sit amet viverra ullamcorper, mauris quam ultricies leo, at cursus erat nisi ut mauris. Maecenas pharetra, quam et rhoncus pellentesque, ligula metus ornare lorem, vel interdum tortor justo sit amet mauris. In hac habitasse platea dictumst. Nunc turpis mi, vulputate sed sem ut, vestibulum commodo orci. Donec euismod, neque in consequat auctor, sem massa cursus ante, in feugiat risus diam vel ante. Phasellus sed lacus ut augue porta vehicula. </p>
<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eget erat quis dolor accumsan aliquam. Phasellus commodo, ipsum et feugiat congue, erat nunc sagittis nunc, at scelerisque leo nisl vitae tellus. Integer porttitor mi vitae turpis gravida, sed pharetra odio placerat. Maecenas a mauris nibh. Nunc purus massa, venenatis id urna vel, mattis pharetra libero. Integer bibendum euismod ipsum, sed euismod sem ultrices vitae. Pellentesque libero erat, dictum vitae tincidunt ac, rhoncus non libero. Suspendisse id arcu pellentesque, tincidunt libero et, vehicula turpis. Vestibulum in interdum lectus, a facilisis elit. Donec rutrum sem id ante fringilla volutpat. Morbi eu nisi turpis. Phasellus semper mauris nec nibh convallis auctor. </p>
<p>Pellentesque a laoreet sem. Integer a venenatis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis non tortor a risus maximus facilisis vitae sed dolor. Donec ut pharetra tellus. Etiam dignissim ut mauris sit amet suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere nisl eget nisl pellentesque, a mattis ex consequat. Maecenas feugiat velit a tellus placerat condimentum. Fusce pellentesque egestas aliquet. Nullam vel arcu lectus. Etiam id turpis eu massa egestas blandit. Praesent consequat turpis lorem, vel tincidunt purus malesuada quis. Sed id metus purus. Vestibulum porta ipsum nec semper vulputate. Pellentesque ligula velit, viverra elementum nulla fermentum, tristique placerat leo. </p>
<p>Nunc sit amet rhoncus nisl. Donec pretium nunc et ligula facilisis, a facilisis lectus congue. Sed lobortis, massa et vulputate malesuada, felis velit mattis diam, non elementum nulla nibh et lorem. Suspendisse volutpat facilisis rhoncus. Suspendisse lobortis, purus quis imperdiet suscipit, tellus leo laoreet nunc, vel vehicula sem velit id neque. Vestibulum scelerisque magna ut sollicitudin ullamcorper. Proin consectetur elementum sapien fermentum iaculis. Morbi ut mauris tincidunt, eleifend diam luctus, ultricies libero. Quisque quam odio, ultricies ut felis nec, feugiat auctor ligula. Aliquam egestas ut leo et tempus. Suspendisse luctus fermentum ipsum, eget interdum mi sagittis sed. Ut a vulputate lorem, vitae ullamcorper libero. </p>

          </div>
        </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}
{% block footer%}
{{super()}}
{% endblock %}
