{% extends "base.html" %}
{% block title %}About - BryanPH.com{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.css')}}">
{% endblock %}
{% block header%}
{{super()}}
{% endblock %}
{% block content %}
<main role="main" class="inner cover">
  <div class="container" style="padding-top:1rem;">
    <div class="row">
      <div class="col-xs-12">
        <img src="{{ url_for('static', filename='images/profile_pic.jpg')}}" alt="profile pic" class="img-thumbnail" width="50%">
      </div>
        <<div class="row">
          <div class="col-xs-12">
            <h2 class="display-4">Bryan Prather-Huff</h2>
            <div class="text-left jumbotron" style="background:rgba(0,0,0,0.40);padding-top:1rem;padding-bottom:1rem;margin-bottom:0;">
              <p>Bryan Prather-Huff is a cyber security engineer working for ProCircular Inc in Coralville, Iowa. He has a backgound in systems administration and network design.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block footer%}
{{super()}}
{% endblock %}
